<h1> Passing <%= @test_passage.test.title %> test </h1>
<h1><%= "#{@test_passage.count}/#{@test_passage.test.questions.count}" %> Questions </h1>
<%= content_tag :h1, "", class: 'myTimer', data: { time: @time_left } %>
<%= content_tag :h1, class: 'myProgress', data: { progress: @test_passage.completion_percent } do %>
  <h1 class="myBar col-md-6 hide"><%= "#{@test_passage.completion_percent}% complete!" %></h1>
<% end %>

<b><%= @test_passage.current_question.body %></b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_id_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Next', class: "next" %></p>
<% end %>
