<h1> Contact us! </h1>
<%= render 'shared/errors', resource: @feedback %>

<%= form_with model: @feedback, local: true do |form| %>
  <div class="form-group">
    <%= form.label :message %><br>
    <%= form.text_area :message %>
  </div><br>

  <p><%= form.submit %></p>
<% end %>
