<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p><br>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p><br>

  <p>
    <%= form.label :time %><br>
    <%= form.number_field :time %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.select :category_id, Category.all.pluck(:title, :id) %>
  </p>

  <p><%= form.submit %></p>
<% end %>

<p><%= link_to "Back", tests_path %></p>
