<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to "Show", admin_test_path(test) %>
  <td class="align-middle"><%= link_to "Add new question", new_admin_test_question_path(test) %>
  <td class="align-middle">
    <%= link_to t('.link_to_edit'),
      edit_admin_test_path(test),
      data: { test_id: test.id },
      class: 'form-inline-link' %>
  </td>
</tr>
