<tr>
  <p> <%= "#{Test.human_attribute_name(:title)}: #{@test.title}" %> </p>
  <p> <%= "#{Test.human_attribute_name(:level)}: #{@test.level}" %> </p>
  <p> <%= t('.questions') %>: </p>
  <% @test.questions.each do |question| %>
    <p> <%= link_to "#{question.body}", admin_question_path(question) %></p>
  <% end %>
</tr>

<p><%= link_to "Back", admin_tests_path %></p>
