<p><%= link_to 'New test', new_test_path %></p>

<table>
  <tr>
    <th> Title </th>
    <th> Level </th>
    <th> Questions count </th>
  </tr>
  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to "#{test.title}", test %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= link_to "Edit", edit_test_path(test) %></td>
    </tr>
  <% end %>
</table>
